
 <mat-card appearance="outlined">
    <table class="user-table">
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>city</th>
      </tr>
      @for (user of usersList; track user) {
      <tr [routerLink]="['/user/' + user.id]">
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.city}}</td>
      </tr>
    }
    </table>
  </mat-card>
 

  


<button (click)="openDialog()" class="add-btn" color="primary" mat-fab
  aria-label="Example icon button with a delete icon" matTooltip="Add new user">
  <mat-icon>add</mat-icon>
</button>